<ion-tabs color="primary" *ngIf="this.sApplication.openedWallet">
  <ion-tab [root]="tabHome" tabTitle="Wallet" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="tabSend" tabTitle="Send" tabIcon="send"></ion-tab>
  <ion-tab [root]="tabReceive" tabTitle="Receive" tabIcon="cloud-download"></ion-tab>
  <ion-tab [root]="tabTrx" tabTitle="Transactions" tabIcon="list-box"></ion-tab>
</ion-tabs>
<ion-tabs color="dark" *ngIf="!this.sApplication.openedWallet">
    <ion-nav id="nav" [root]="tabAccount" #nav swipeBackEnabled="false"></ion-nav>
</ion-tabs>