
<ion-content padding>
  
  <button ion-button color="danger" (click)="createWallet()">Create wallet</button>
  <button ion-button color="danger" (click)="this.sApplication.eraseWallets()">RAZ</button>
  <ion-list *ngIf="this.sApplication.wallets">
      <ion-item *ngFor="let w of this.sApplication.wallets" >
        <h2>{{w.name}} </h2>
        <p>{{w.address}} </p>
        <button ion-button clear item-end (click)="getInfoAddress(w)">View</button>
      </ion-item>
  </ion-list>

  <div *ngIf="this.sApplication.openedWallet">
    <ion-list>
      <ion-item *ngIf="this.sApplication.openedWallet.address">
        address : {{this.sApplication.openedWallet.address}} 
      </ion-item>
      <ion-item *ngIf="this.sApplication.openedWallet.viewKey">
        view key : {{this.sApplication.openedWallet.viewKey}}
      </ion-item>
      <ion-item *ngIf="this.sApplication.openedWallet.mNemonic">
        mNemonic : {{this.sApplication.openedWallet.mNemonic}}
      </ion-item>
    
    <div *ngIf="this.sApplication.openedWallet.datas">
        <ion-item >
          blockchain_height : {{this.sApplication.openedWallet.datas.blockchain_height}}
        </ion-item>
        <ion-item >
          locked_funds : {{this.sApplication.openedWallet.datas.locked_funds}}
        </ion-item>
        <ion-item >
          new_address : {{this.sApplication.openedWallet.datas.new_address}}
        </ion-item>
        <ion-item >
          scanned_block_height : {{this.sApplication.openedWallet.datas.scanned_block_height}}
        </ion-item>
        <ion-item >
          scanned_block_timestamp : {{this.sApplication.openedWallet.datas.scanned_block_timestamp}}
        </ion-item>
        <ion-item >
          scanned_height : {{this.sApplication.openedWallet.datas.scanned_height}}
        </ion-item>
        <ion-item >
          spent_outputs : {{this.sApplication.openedWallet.datas.spent_outputs}}
        </ion-item>
        <ion-item >
          start_height : {{this.sApplication.openedWallet.datas.start_height}}
        </ion-item>
        <ion-item >
          status : {{this.sApplication.openedWallet.datas.status}}
        </ion-item>
        <ion-item >
          total_received : {{this.sApplication.openedWallet.datas.total_received}}
        </ion-item>
        <ion-item >
          total_sent : {{this.sApplication.openedWallet.datas.total_sent}}
        </ion-item>
        </div>
      </ion-list>
  </div>
</ion-content>
