page-home {

}
.action-sheet-group {
    background-color: #222!important;
}
.action-sheet-group .action-sheet-button {
    color: white!important;
}
.action-sheet-group .action-sheet-title {
    color: #fdd736!important;
}