// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content {
    background-color: #0d0d0d;
}
.qrcode {
    margin: 5px auto;
}
ion-content {
    /*background-image: url('../assets/imgs/sup_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;*/
    background-color: #0d0d0d!important;
}
ion-item.item-md-dark {
    background-color: #0d0d0d;
}
.action-sheet-group {
    background-color: #202020!important;
}
.action-sheet-group .action-sheet-button {
    color: white!important;
}
.action-sheet-group .action-sheet-title {
    color: #fdd736!important;
}
.action-sheet-button.activated {
    background-color: #0d0d0d!important;
}