<ion-header>

  <ion-navbar color="dark">
    <ion-title>Send</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="primary" (click)="scanCode()">
          <ion-icon name="barcode"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content >
    <div *ngIf="this.sApplication.openedWallet">
        <ion-card *ngIf="this.sApplication.openedWallet.datas">
          <ion-card-header>
              Your Balance
          </ion-card-header>
          <ion-card-content>
              <ion-card-title>
                  {{this.sApplication.openedWallet.balanceUnlocked}} SUP
              </ion-card-title>
              </ion-card-content>
        </ion-card>
    </div>
    <form (ngSubmit)="submitForm()" #sendForm="ngForm">
    <ion-card>
        <ion-card-header>
            New transation
        </ion-card-header>
        <ion-item>
          <ion-label stacked >Receiver Address</ion-label>
          <ion-input type="text" [(ngModel)]="this.receiverAddress" name="receiverAddress"
           placeholder="e.g 5SRBegqy1LUWGoWsf7LP5MbwcfmUY3P6cen2RgDqMcV47ComcSa71LGQhjB8FcskaC6ncdSJH3oqaLxwuQvpHhVn82zHVm3">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Amount</ion-label>
          <ion-input type="text" placeholder='e.g 0.5' [(ngModel)]="this.amountToSend" name="amountToSend"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Payment ID (optional)</ion-label>
          <ion-input type="text" placeholder='e.g. f816938c9437ac9f' [(ngModel)]="this.paymentId" name="paymentId"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Privacy Level</ion-label>
          <ion-select>
            <ion-option value="4" selected>Low (ring size 5)</ion-option>
            <ion-option value="6">Medium (ring size 7)</ion-option>
            <ion-option value="10">High (ring size 11)</ion-option>
            <ion-option value="20">Paranoid (ring size 21)</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Priority Level</ion-label>
            <ion-select>
              <ion-option value="1">Low (the cheapest)</ion-option>
              <ion-option value="2" selected>Medium (default)</ion-option>
              <ion-option value="3">High (if you are in hurry)</ion-option>
              <ion-option value="4">Paranoid (absolute priority)</ion-option>
            </ion-select>
          </ion-item>
          <div padding text-center>
              <button ion-button type="submit" block [disabled]="!sendForm.form.valid">Generate transaction</button>
          </div>
      </ion-card>
    </form>
</ion-content>
