<!--
  Generated template for the SendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Send</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="this.sApplication.openedWallet">
        <ion-card *ngIf="this.sApplication.openedWallet.datas">
          <ion-card-header>
              Your Balance / Unlocked Balance
          </ion-card-header>
          <ion-card-content>
              <ion-card-title>
                  {{this.sApplication.openedWallet.totalPending()}} SUP / {{this.sApplication.openedWallet.totalReceive()}} SUP
              </ion-card-title>
              </ion-card-content>
        </ion-card>
    </div>
    <form (ngSubmit)="submitForm()" #sendForm="ngForm">
    <ion-card>
        <ion-item>
          <ion-label stacked>Receiver Address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Amount</ion-label>
          <ion-input type="text" placeholder='e.g 0.5'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Payment ID (optional)</ion-label>
          <ion-input type="text" placeholder='e.g. 59af9132941ec6e9f6ba3c4867e1cd92f2bd5fbce4325fc7b19bcdb55d640de5'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Privacy Level</ion-label>
          <ion-select>
            <ion-option value="4" selected>Low (ring size 5)</ion-option>
            <ion-option value="6">Medium (ring size 7)</ion-option>
            <ion-option value="10">High (ring size 11)</ion-option>
            <ion-option value="20">Paranoid (ring size 21)</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Priority Level</ion-label>
            <ion-select>
              <ion-option value="1">Low (the cheapest)</ion-option>
              <ion-option value="2" selected>Medium (default)</ion-option>
              <ion-option value="3">High (if you are in hurry)</ion-option>
              <ion-option value="4">Paranoid (absolute priority)</ion-option>
            </ion-select>
          </ion-item>
          <div padding text-center>
              <button ion-button type="submit" block [disabled]="!sendForm.form.valid">Save</button>
          </div>
      </ion-card>
    </form>
</ion-content>
